* {
    box-sizing: border-box;
    font-family: Roboto, Arial, serif;
}

body {
     margin: 0;
    font-size: 16px;
}

h1, h2, h3, p, ul, li, blockquote {
    margin: 0;
}

/* HEADER */

.headerbox {
    background-color: #1F2937;
    border: 1px solid #1F2937;
    color: #F9FAF8;
}

/* header top section */

.headertop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10%;
}

.headerlogo {
    font-size: 24px;
}

.headernav {
    font-size: 18px;
    color: #E5E7EB;
}

.headernav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.headernav ul li {
    display: inline;
    font-weight: 100;
}

.headernav ul li a {
    color: #E5E7EB;
    text-decoration: none;
}

.headernav ul li a:hover {
    color: lightgray;
}

/* header main section */

.headermain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px 10% 100px 10%;
    gap: 40px;
}

.headermaintext h1 {
    font-size: 48px;
    font-weight: 900;
    flex-basis: 100%;
}

.headermaintext p {
    margin-top: 15px;
}

.signupone {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 15px;
}

.headermainimage {
    flex-basis: 100%;
    display: flex;
    /* justify-content: center; */
}

.headermainimage img {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
}
  
/* MAIN SECTION */

.mainbox {
    margin: 50px 10% 75px 10%;
}

.mainbox h2 {
    text-align: center;
    margin: 40px 0;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* .highlightimageph {
    width: 75px;
    height: 75px;
    border: 2px solid blue;
    border-radius: 10px;
} */

.highlightrow {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.highlightrow a {
    text-decoration: none;
    color: black;
}

.highlightrow a:hover {
    color: grey;
}

.highlightbox {
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.highlightimage img {
    border-radius: 5px;
}

.highlightbox p {
    text-align: center;
}

/* QUOTE SECTION */

.quotebox {
    background-color: #E5E7EB;
    padding: 50px 18%;
}

.quotebox blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quotebox p {
    text-align: right;
    font-weight: bold;
}

/* CTA SECTION */

.ctabox {
    margin: 10px 10%;
}

.ctainnercontainer {
    background-color: #3882F6;
    color: #E5E7EB;
    margin: 65px 0;
    border-radius: 5px;
    padding: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px
}

.signuptwo {
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid #E5E7EB;
    padding: 5px 10px;
    border-radius: 10px;
}

/* FOOTER SECTION */

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 40px 10%;
    text-align: center;
    font-weight: 200;
}


/* RPS Game Styling */

.activebutton {
    padding: 5px 10px;
    border-radius: 8px;
    color: black;
    background-color: lightblue;
}

.activebutton:hover {
    color: grey;
}

.inactivebutton {
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid grey;
    background-color: grey;
    color: black;
}

.titlebox {
    text-align: center;
    padding: 40px 0;
}

#startgame {
    font-size: 32px;
    margin: 0 auto;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.scorebox {
    margin: 50px 0;
}

.scorebox h3 {
    text-align: center;
}

.scoredisplay {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.playbox {
    text-align: center;
}

.playbox p {
    margin-bottom: 20px;
}

#choices {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#resultsbox {
    margin: 25px 0;
}

.footer a {
    text-decoration: none;
    color: lightgray;
}

/* ETCH PROJECT */

#etchheader h1 {
    text-align: center;
}

#etchgrid {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.etchgridbox {
    /* height: 25px;
    width: 25px; */
    border: 1px solid black;

}

.nav {
    height: 75px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav button {
    margin-right: 30px;

}

/* CALC STYLING */

#fullcalcbox {
    width: 550px;
    margin: 25px auto;
    background-color: black;
    padding: 25px 0;
    border-radius: 8px;
}

#numberbox {
    display: flex;
    width: 325px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.numberbtn, .decimalbtn, .backspacebtn, #clearbtn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.numberbtn, .decimalbtn, .operatorbtn, .equalsbtn {
    font-size: 2rem;
}

.backspacebtn, #clearbtn {
    font-weight: bold;

}

.numberbtn, .decimalbtn {
    background-color: grey;
    color: white;
}

#clearbtn, .backspacebtn {
    background-color: lightgrey;
    color: white;
}

.operatorbtn, .equalsbtn {
    background-color: orange;
    color: white;
}

.fakebtn {
    width: 100px;
    height: 100px;
}

#operatorbox {
    display: flex;
    width: 100px;
    flex-wrap: wrap;
    gap: 10px;
}

.operatorbtn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#calculatorbuttonbox {
    margin: 10px auto 0px auto;
    display: flex;
    gap: 20px;
    justify-content: center;
}

#calcdisplay {
    /* border: 3px solid black; */
    border-radius: 8px;
    width: 465px;
    height: 100px;
    margin: 0px auto 10px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3rem;
    transition: border .2s;
    background-color: white;
}


.equalsbtn {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* FORM PAGE STYLING */

.formcontainer {
    display: flex;
}

.formsidebarlogo {
    flex: 0 0 40%;
    background-image: url(images/flaviu-costin-_lQPU026-ko-unsplash.jpg);
    height: 80vh;
    background-size: cover;
    position: relative;
}

.formmain {
    flex: 0 0 60%;
} 

/* SIDE LOGO STYLING */

.attribution {
    color: lightgray;
    position: absolute;
    bottom: 0;
    left: 25%;
    margin: 10px;
    font-size: 0.75rem;
}

.attribution a {
    color: lightgray;

}

.formlogoholder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .3);
    padding: 15px;
    margin-top: 200px;
    gap: 15px;
}

h1.formlogo {
    font-family: Truculenta, sans-serif;
    color: lightgray;
    font-size: 3rem;    
}

/* MAIN SECTION STYLING */

.formmain {
    background-color: #F9FAFB;
    padding-top: 100px;
}

.formmain p {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1.3rem 2rem;
}

.forminputsection {
    background-color: white;
    box-shadow: 0px 3px 5px lightgray;
    padding: 2.5rem 2rem;
    margin: 0 0 30px 0;
}

.forminputsection h2 {
    margin-bottom: 1.4rem;
    font-size: 1.3rem;
}

label {
    text-transform: uppercase;
    font-size: 0.8rem;
    display: block;
}

input {
    width: 200px;
}

.forminputsection div {
    display: inline-block;
    margin-bottom: 1.5rem;
    margin-right: 2.5rem;
}

#createaccount {
    margin: 1rem 2rem;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 8px;
    background: #823430;
    color: white;
    box-shadow: 2px 2px 5px lightgray;
}

p.signin {
    font-size: 1rem;
    font-weight: normal;
}

p.signin a {
    text-decoration: none;
    color: #823430;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    box-shadow: 2px 2px 5px lightgray;
}

.testcontainer {
    height: 100vh;
    background-color: antiquewhite;
}
